psutil
ai2thor
certifi
chardet
Click
decorator
Flask
h5py
idna
itsdangerous
Jinja2
MarkupSafe
numpy==1.26.0
opencv-python
Pillow
progressbar2
protobuf
python-utils
PyYAML
requests
scipy
setproctitle
six
tabulate
tensorboardX
torch
torchvision
tqdm
urllib3
Werkzeug
einops
timm
open3d
prior
ultralytics